<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lovo.dao.IUserDao">
	<resultMap id="userRM" type="userBean">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>

	<insert id="addUser" parameterType="userBean">
		insert into t_user values(null,#{username},#{password})
	</insert>
	
	<select id="login" parameterType="userBean" resultMap="userRM">
   		select * from t_user where username=#{param1} and password=#{param2}
   </select>
	
	<select id="findByItem" resultMap="userRM">
		select * from t_user limit #{param1},5
	</select>
	
	<select id="getTotalCountByItem" resultType="int">
		select count(*) from t_user
	</select>
	
	<select id="findAllUser" resultMap="userRM">
		select * from t_user
	</select>
</mapper>